extends base.pug

block style 
    style 
        include ../static/style_base.css
        include ../static/style_home.css

block content 
     h1 Welcome to Sparks Bank
     <div class="bg">
        <div class="center">
        <ul>
            <li class="operations"><a href="/add"><button class="btns" id="green">Add members</button></a></li>
            <li class="operations"><a href="/members"><button class="btns" id="red">View All Members</button></a></li>
            <li class="operations"><a href="/transfer"><button class="btns" id="blue"> Money Transfer</button></a></li>
            <li class="operations"><a href="/history"><button class="btns" id="green">View Transfer History</button></a></li>
        </ul>
        </div>
     </div>


    
        