extends base.pug

block style 
    style 
        include ../static/style_base.css
        include ../static/style_home.css

block content 
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="3000">
                <img src="/static/imgs/12.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Welcome to Sparks Bank</h1>
                    <p>Sparks Bank offers different type of accounts to meet your financial goals and secure your future. Choose from our wide range of deposit products that are specifically designed to keep your unique requirements in mind.</p>
                    <a href="/add"><button class="btn btn-danger">Add new Members</button></a>
                    <a href=https://www.thesparksfoundationsingapore.org/join-us/why-join-us/"><button class="btn btn-success">Join Us</button></a>
                    <a href="/members"><button class="btn btn-primary">View All Members</button></a>
                </div>
            </div>
            <div class="carousel-item " data-bs-interval="3000">
                <img src="/static/imgs/14.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Welcome to Sparks Bank</h1>
                    <p>Sparks Bank offers different type of accounts to meet your financial goals and secure your future. Choose from our wide range of deposit products that are specifically designed to keep your unique requirements in mind.</p>
                    <a href="/add"><button class="btn btn-danger">Add new Members</button></a>
                    <a href=https://www.thesparksfoundationsingapore.org/join-us/why-join-us/"><button class="btn btn-success">Join Us</button></a>
                    <a href="/members"><button class="btn btn-primary">View All Members</button></a>
                </div>
            </div>
            <div class="carousel-item " data-bs-interval="3000">
                <img src="/static/imgs/2.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Welcome to Sparks Bank</h1>
                    <p>Sparks Bank offers different type of accounts to meet your financial goals and secure your future. Choose from our wide range of deposit products that are specifically designed to keep your unique requirements in mind.</p>
                    <a href="/add"><button class="btn btn-danger">Add new Members</button></a>
                    <a href=https://www.thesparksfoundationsingapore.org/join-us/why-join-us/"><button class="btn btn-success">Join Us</button></a>
                    <a href="/members"><button class="btn btn-primary">View All Members</button></a>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>



    



    
        