extends base.pug

block style 
    style 
        include ../static/style_base.css
        include ../static/style_members.css

block content 
    div.container 
        h1 Members List 
        table 
            tr
                th Name
                th Account No
                th Email
                th Balance
            tr 
                td Shyam 
                td 234lkj234 
                td gkkjadhav@gmail.com 
                td 60000 
            tr 
                td ram 
                td sdf234234 
                td ram@gmail.com 
                td 23000 
            tr 
                td mohan 
                td 345jhjfg 
                td mohan@gmail.com 
                td 45000 
            