extends base.pug

block style 
    style 
        include ../static/style_base.css
        include ../static/style_transfer.css

block content 
    <div class="container">
    
        <h1>MONEY TRANSFER</h1>
    

    <div class="members-img">

    </div>
    
        <div class="form-container">
            <form action="/transfer" method="POST">
                <div class="contain">
                <div class="reciver-label" style="transform: translate(1rem, 1.8rem);">
                    <label for="select" style="color: gray;">Sender's Name</label>
                </div>
                <div class="select-option">
                    <select name="select1" id="select1">
                        each user in users
                            <option value=#{user.id}> #{user.name} </option>
                        
                    </select>
                </div>
                <div class="reciver-label" style="transform: translate(1rem, 1.8rem);">
                    <label for="select" style="color: gray;">Receiver's Name</label>
                </div>
                <div class="select-option">
                    <select name="select2" id="select2">
                        each user in users
                            <option value=#{user.id}> #{user.name} </option>
                        
                    </select>
                </div>
                </div>
                <div class="amount">
                    <input type="text" name="amount" id="amount" placeholder="Amount to be send">
                </div>
                <div class="transaction-btn">
                    <button class="btn-tr" type="submit" style="color: gray;">Submit</button>
                </div>
            </form> 
        </div>
    </div>
