*{
    margin: 0px 0px;
    padding: 0px 0px;
}

.heading{
    /* border: 2px solid black; */
    height: 80vh;
    display: flex;
    align-items: center;
    background-color: rgb(201, 242, 242);
    /* margin:2px 2px; */
}
.heading h1{
    margin:0px 8px;
    font-size: 50px;
}
.heading img{
    height: 60vh;
    width: 80vh;
    position: relative;
    float: right;
}

 .add{
    /* border: 2px solid black; */
    height: 60vh;
    width: 100%;
    background-color: aquamarine;
    /* margin:2px 2px; */
}
.view{
    /* border: 2px solid black; */
    height: 60vh;
    width: 100%;
    background-color: bisque;
    /* margin:2px 2px; */
}
.add h1{
    position: relative;
    text-align: center;
}
.view h1{
    position: relative;
    text-align: center;
}
.add img{
    position: relative;
    height: 60vh;
    width: 50vw;
    float:right;
}
.view img{
    position: relative;
    width: 50vw;
    float:left;
    height: 60vh;
}


