*{
    font-family: cursive;
}

body{
    height: 100vh;
}

.navbar-brand img{
    height: 60px;
    width: 66px;
    border: 2px solid black;
    border-radius: 12px;
}
.footer{
    color: white;
    background-color: black;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
    /* margin-top: auto; */
    
    
}