*{
    margin: 0px 0px;
    padding: 0px 0px;
}
.carousel-item {
    height:600px;
  }
  
  /* .item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 600px;
  } */

 .add{
    /* border: 2px solid black; */
    height: 60vh;
    width: 100%;
    background-color: aquamarine;
    /* margin:2px 2px; */
}
.view{
    /* border: 2px solid black; */
    height: 60vh;
    width: 100%;
    background-color: bisque;
    /* margin:2px 2px; */
}
.add h1{
    position: relative;
    text-align: center;
}
.view h1{
    position: relative;
    text-align: center;
}
.add img{
    position: relative;
    height: 60vh;
    width: 48vw;
    float:right;
}
.view img{
    position: relative;
    width: 48vw;
    float:left;
    height: 60vh;
}

.box2 a{
    /* border: 2px solid black; */
    position: relative;
    top: 138px;
    margin: 38px 254px;
}

.box2 a button{
    width: 139px;
    height: 50px;
    font-weight: bolder; 
}


